<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <rom-name>DIRTY UNICORNS 7.0</rom-name>
    <languages>
        <language value="af"/>
        <language value="am"/>
        <language value="ar"/>
        <language value="be"/>
        <language value="bg"/>
        <language value="ca"/>
        <language value="cs"/>
        <language value="da"/>
        <language value="de"/>
        <language value="el"/>
        <language value="en-rGB"/>
        <language value="en-rUS"/>
        <language value="es"/>
        <language value="es-rUS"/>
        <language value="et"/>
        <language value="fi"/>
        <language value="fr"/>
        <language value="hi"/>
        <language value="hr"/>
        <language value="hu"/>
        <language value="hy"/>
        <language value="in"/>
        <language value="it"/>
        <language value="iw"/>
        <language value="ja"/>
        <language value="ka"/>
        <language value="km"/>
        <language value="ko"/>
        <language value="ku"/>
        <language value="lo"/>
        <language value="lt"/>
        <language value="lv"/>
        <language value="ml"/>
        <language value="ms"/>
        <language value="nb"/>
        <language value="ne"/>
        <language value="nl"/>
        <language value="pa"/>
        <language value="pl"/>
        <language value="pt"/>
        <language value="pt-rBR" subst="pt"/>
        <language value="pt-rPT"/>
        <language value="rm"/>
        <language value="ro"/>
        <language value="ru"/>
        <language value="si"/>
        <language value="sk"/>
        <language value="sl"/>
        <language value="sr"/>
        <language value="sv"/>
        <language value="sw"/>
        <language value="th"/>
        <language value="tl"/>
        <language value="tr"/>
        <language value="ug"/>
        <language value="uk"/>
        <language value="vi"/>
        <language value="zh-rCN"/>
        <language value="zh-rTW"/>
        <language value="zu"/>
    </languages>
</resources>
