<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <rom-name>DIRTY UNICORNS p8x</rom-name>
    <languages>
        <language value="af"/>
        <language value="am"/>
        <language value="ar"/>
        <language value="az"/>
        <language value="b+sr+Latn"/>
        <language value="be"/>
        <language value="bg"/>
        <language value="bn"/>
        <language value="bs"/>
        <language value="ca"/>
        <language value="cs"/>
        <language value="da"/>
        <language value="de"/>
        <language value="el"/>
        <language value="en-rAU"/>
        <language value="en-rCA"/>
        <language value="en-rGB"/>
        <language value="en-rIN"/>
        <language value="en-rXC"/>
        <language value="es"/>
        <language value="es-rUS"/>
        <language value="et"/>
        <language value="eu"/>
        <language value="fa"/>
        <language value="fi"/>
        <language value="fr"/>
        <language value="fr-rFR" subst="fr"/>
        <language value="fr-rCA"/>
        <language value="gl"/>
        <language value="gu"/>
        <language value="hi"/>
        <language value="hr"/>
        <language value="hu"/>
        <language value="hy"/>
        <language value="in"/>
        <language value="is"/>
        <language value="it"/>
        <language value="iw"/>
        <language value="ja"/>
        <language value="ka"/>
        <language value="kk"/>
        <language value="km"/>
        <language value="kn"/>
        <language value="ko"/>
        <language value="ky"/>
        <language value="lo"/>
        <language value="lt"/>
        <language value="lv"/>
        <language value="mk"/>
        <language value="ml"/>
        <language value="mn"/>
        <language value="mr"/>
        <language value="ms"/>
        <language value="my"/>
        <language value="nb"/>
        <language value="ne"/>
        <language value="nl"/>
        <language value="no-rNO"/>
        <language value="pa"/>
        <language value="pl"/>
        <language value="pt"/>
        <language value="pt-rBR" subst="pt"/>
        <language value="pt-rPT"/>
        <language value="rm"/>
        <language value="ro"/>
        <language value="ru"/>
        <language value="si"/>
        <language value="sk"/>
        <language value="sl"/>
        <language value="sq"/>
        <language value="sr"/>
        <language value="sv"/>
        <language value="sw"/>
        <language value="ta"/>
        <language value="te"/>
        <language value="th"/>
        <language value="tl"/>
        <language value="tr"/>
        <language value="uk"/>
        <language value="ur"/>
        <language value="uz"/>
        <language value="vi"/>
        <language value="zh-rCN"/>
        <language value="zh-rTW"/>
        <language value="zu"/>
    </languages>
</resources>
